*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.box1{
    background: linear-gradient(45deg,hsl(0, 100%, 70%),hsl(240, 100%, 70%));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background: hsla(0, 50%, 100%, 0.5);
    width: 50%;
    padding: 30px;
    height: auto;
    text-align: center;
    display: grid;
    gap: 10px;
}